@model IEnumerable<HostelSuggestionSystem_WE.Models.Hostels>

@{
    ViewBag.Title = "Hostels";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Styles.css")
}

<h2>Hostels</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<section class="white-section" id="pricing">

    <h2 class="section-heading">Find a home away from home</h2>
    <p>Simple and affordable Hostel Rooms for you and your friends.</p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="pricing-column col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3>@item.HostelName</h3>
                    </div>
                    <div class="card-body">
                        <h2 class="price-text"><img src="~/Images/@item.HostelImageUrl" class="img-responsive" /></h2>
                        <h4 style="color: black !important">@item.HostelCity</h4>
                        <p>@item.HostelAddress</p>
                        <p>Ratings <b>@item.HostelRating</b></p>
                        <p>Distance from city center <b>@item.HostelDistance</b></p>
                        @Html.ActionLink("Details", "Details", "Hostel", new { id = item.HostelId }, new { @class = "btn btn-primary", @role = "button" })
                    </div>
                </div>
            </div>
        }
    </div>

</section>
