<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hostel Suggestion System</title>
    
    <link rel="stylesheet" href="~/Content/css">
    <link rel="stylesheet" href="~/Content/Sytles.css">
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hostel Management System", "Index", "Hostels", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Login", "Login", "User")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Order By <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","Hostels",new {filterBy = "Rating"})">Ratings</a></li>
                            <li><a href="@Url.Action("Index","Hostels",new {filterBy = "Distance"})">Distance From City Center</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li>
                        @Html.BeginForm("Index", "Hostels", FormMethod.Get, new { @class = "form-inline navbar-right" })
                        {
                            @Html.TextBox("search", "Search", new { @class = "form-control mr-sm-2" })
                            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" />
                        }
                    </li>
                </ul>
                
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                @Html.ActionLink("Create New", "AddHostel","Hostels")
            </p>
            <div class="container-fluid">
                <p>Made with️ ❤️ in RWP © @DateTime.Now.Year OSAMA ALEEM </p>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
